@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --purple: #611be8;
  --orange: #f8b05c;
  --white-text: #cbcee4;
  --black-text: #0a0e2e;
  --grey-text: #989aa8;
  --background: #232743;
}

* {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: 20px 100px;
}

.navbar-nav .nav-link {
  --bs-nav-link-color: var(--black-text);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  --bs-nav-link-font-weight: 600;
  --bs-nav-link-hover-color: var(--black-text);
}

.navbar-toggler {
  --bs-border-width: none;
  --bs-navbar-color: var(--black-text);
}

.navbar-toggler:focus,
.btn {
  --bs-navbar-toggler-focus-width: none;
}

.banner {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-inline: 100px;
  height: 620px;
  justify-content: space-between;
  background-color: var(--background);
}

.title-text {
  font-weight: 700;
  margin-bottom: 0;
  color: var(--color);
  font-size: var(--size);
}

.subtitle-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--grey-text);
}

.btn {
  font-size: 16px;
  padding: 14px 32px;
  border-radius: 100px;
}

.btn-primary {
  color: #000;
  border: none;
  font-weight: 700;
  background-color: var(--orange);
}

.btn-primary:hover,
.btn-primary:focus {
  color: #000;
  background-color: #e09d50;
}

.btn-secondary {
  color: var(--black-text);
  background-color: #fff;
  border: 1px solid #ebecf3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--black-text);
  background-color: #ebecf3;
}

.img-union {
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.img-phone {
  bottom: 0;
  width: 380px;
  right: 100px;
  position: absolute;
}

.company-logo {
  gap: 50px;
  z-index: 1;
  display: flex;
  padding: 70px 100px;
  align-items: center;
  justify-content: space-between;
}

.list-logo {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-partner {
  height: 30px;
}

.benefits {
  gap: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px 100px;
}

.list-benefit {
  gap: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.icon-benefit {
  height: 60px;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  background-color: var(--color);
}

@media (max-width: 1126px) {
  .navbar,
  .banner,
  .company-logo,
  .benefits {
    padding-inline: 60px;
  }

  .banner {
    padding-block: 80px;
    min-height: 560px;
  }

  .company-logo {
    flex-direction: column;
    text-align: center;
  }

  .list-benefit {
    grid-template-columns: auto auto;
  }

  .img-phone {
    display: none;
  }
}

@media (max-width: 700px) {
  .list-benefit {
    grid-template-columns: auto;
  }

  .banner {
    min-height: calc(100vh - 93px);
  }
}

@media (max-width: 600px) {
  br {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar,
  .banner,
  .company-logo,
  .benefits {
    padding-inline: 20px;
  }

  .banner .title-text {
    font-size: 40px;
  }

  .btn-banner {
    flex-direction: column;
  }

  .benefits {
    padding-bottom: 70px;
  }

  .img-union {
    display: none;
  }
}
